@import '../cadastro/cadastro.component.scss';
.link {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
}
.error {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.25);
  padding: 8px 10px;
  border-radius: 8px;
}
